.box1{
    background-color: antiquewhite;
}
.box2{
    background-color: aquamarine;
}
.box3{
    background-color: lightcoral;
}
.box4{
    background-color: rgb(128, 148, 240);
}
.box-wraper{
    border: 4px solid rgb(73, 8, 8);
   display: flex;
   flex-direction:row;
   justify-content:space-evenly;
   /* flex-wrap: wrap; */
}
.box{
    width:200px;
    /* height: 500px; */
}